In [5]:
class Circle:
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return 3.14*self.radius*self.radius
  def perimeter(self):
    return 2*3.14*self.radius
  def diameter(self):
    return 2*self.radius

c1 = Circle(5)
print(c1.area())
print(c1.perimeter())
print(c1.diameter())
print(c1.radius)

78.5
31.400000000000002
10
5

In [12]:
class Emp:
  def __init__(self,name,salary,department):
    self.name = name
    self.salary = salary
    self.department = department
  def show(self):
    print("Name:",self.name)
    print("Salary:",self.salary)
    print("Department:",self.department)

e1 = Emp('raj',50000,'IT')
e2 = Emp('Mani',30000,'Admin')

print(e1.name)
e1.name = 'Krishna'
print(e1.name)
print(getattr(e1,'name'))
print(setattr(e2,'name','Suresh'))
print(delattr(e1,'department'))
print(hasattr(e1,'age'))
print(hasattr(e1,'name'))
print(e1.__dict__)
print(e2.__dict__)

raj
Krishna
Krishna
None
None
False
True
{'name': 'Krishna', 'salary': 50000}
{'name': 'Suresh', 'salary': 30000, 'department': 'Admin'}